{% extends "template.html" %}

{% block title %}
    Main page
{% endblock %}

{% block main %}
          <!--zipcode checker-->
          <p></p>
          <label for="fname">Enter your zipcode:</label>
          <input id="fname" name="fname" type="text">
          <button id="checker">Click to check if we ship to your location</button>
          <p id="locateresponse"></p>
          <!--image-->
          <p></p>
          <div class="polaroid content">
            <img src="Olive oil.jpg" alt="picture of olive oil" style="height:50%">
            <div class="container content">
            <p>Picual Blues</p>
            </div>
          </div>
          <!--menu table-->
          <div class="content">
          <h2>Products</h2>
          <table id="menu" class="table table-hover">
            <thead>
              <tr>
                <th>Item</th>
                <th>Price</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Picual Blues</td>
                <td>$50</td>
              </tr>
              <tr>
                <td>Arbequina EVOO</td>
                <td>$60</td>
              </tr>
            </tbody>
          </table>
          </div>
      <script>
          document.querySelector('#checker').addEventListener('click', function() {
              let x = document.getElementById("fname");
              let y = document.getElementById("locateresponse");
              if(['90275','90274','90717','90710','90505','90277','90503','90501','90502','90504','90278','90247','90248','90249','90260','90278'].indexOf(x.value) >= 0) {
                y.innerHTML = "We deliver to your area!"
              }
              else {
                y.innerHTML = "We currently do NOT deliver to your area. Sorry!"
              }
            })
      </script>
{% endblock %}  

