{% block title %}
Products
{% endblock %}


{% block main %}
        <h1 class="content">Weekly menu</h1>
        <hr>
        <img src="arbequina jazz.jpg" class="img-thumbnail content" alt="picture of olive oil bottle" width="400" height="400">
        <select class="form-select content" aria-label="Default select example">
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        <hr>
        <img src="Olive oil.jpg" class="img-thumbnail content" alt="picture of pacual blues" width="400" height="400">
        <select class="form-select content" aria-label="Disabled select example" disabled>
            <option selected>Sold out</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        <a href="index.html">
            <button>Return to main page</button>
        </a>
{% endblock %}