{% extends "template.html" %}

{% block title %}
How does it work?
{% endblock %}
      
{% block main %}
        <h1 class="content">This is how it works.</h1>
        <div class="polaroid content">
            <img src="{{url_for('static', filename='Olive oil.jpg')}}" alt="picture of olive oil" style="height:50%">
            <div class="container content">
            <p>Olive oil</p>
            </div>
          </div>
        <a href="{{url_for('index')}}">
            <button>Return to main page</button>
        </a>
{% endblock %}